#Created by https://www.gitignore.io/api/c
# Edit at https://www.gitignore.io/?templates=c

### C ###

#################################### test-holbeton

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
# test -holberton
.gitignore
*main.c
*.o
*.swp
test
.vscode
a.out
Test2
Test33
OTest